.gallery {
  display: flex;
  .photo {
    height: 200px;
    width: 200px;
  }
  &__fullscreen {
    .fullscreen-div {
      text-align: center;
      position: relative;
      .arrow-left {
        &::before {
          @include arrow($rotate: 140deg);
          left: 300px;
        }
      }
      .arrow-right {
        &::after {
          @include arrow($rotate: -45deg);
          right: 300px;
        }
      }
      .fullscreen {
        z-index: 999;
        height: 500px;
        width: 800px;
      }
      .before-img {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 150px;
        left: 50px;
      }
      .after-img {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 150px;
        right: 50px;
      }
    }
  }
}
